@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Old Standard TT';
      src: url(fonts/oldstandard.ttf);
    }

    @font-face {
      font-family: 'Lato';
      src: url(fonts/lato.ttf);
    }

    h1 {
        @apply font-old-standard text-6xl uppercase;
    }

    h2 {
        @apply text-3xl uppercase;
    }

    h3 {
        @apply text-xl uppercase;
    }

    body {
        @apply font-lato text-gray;
    }

    input, textarea {
        @apply text-gray p-2 rounded border border-gray;
    }
}

@keyframes sidebar-slide-in {
    0%   {width: 0;}
    50%   {width: 50%;}
    100% {width: 100%}
}

.sidebar:hover .sidebar-text{
    display: inline-flex;
    /*animation-name: sidebar-slide-in;*/
    /*animation-duration: 4s;*/
}

.auction-dealer-logos a:hover {
    opacity: .6;
}
